{{#extends "base"}}
  {{#block "content"}}
    <h1>Order Details</h1>

    <h2>Search</h2>
    <form method="GET">
      <label>Order Detail ID</label>
      <input
        type="text"
        name="order_detail_id"
        value="{{searchTerms.order_detail_id}}"
        class="form-control mb-3"
      />

      <label>Order ID</label>
      <input
        type="text"
        name="order_id"
        value="{{searchTerms.order_id}}"
        class="form-control mb-3"
      />

      <label>Product ID</label>
      <input
        type="text"
        name="product_id"
        value="{{searchTerms.product_id}}"
        class="form-control mb-3"
      />

      <label>Product Name</label>
      <input
        type="text"
        name="name"
        value="{{searchTerms.name}}"
        class="form-control mb-3"
      />

      <input type="submit" class="btn btn-primary" value="Search" />
    </form>

    <table class="table">
      <tr>
        <th>Order Detail ID</th>
        <th>Order ID</th>
        <th>Product ID</th>
        <th>Product</th>
        <th>Qty</th>
      </tr>

      {{#each order_details}}
        <tr>
          <td>{{order_detail_id}}</td>
          <td>{{order_id}}</td>
          <td>{{product_id}}</td>
          <td>{{name}}</td>
          <td>{{quantity}}</td>
          <td><a href="/order_details/{{order_detail_id}}/update"><button
                class="btn btn-secondary"
              >Update</button></a></td>

          <td><button class="btn btn-danger">Delete</button></td>
        </tr>
      {{/each}}
    </table>
  {{/block}}
{{/extends}}